.button {
    padding: 0.375rem;
    border-radius: 0.25rem;
    border: 1px #D5D8DD solid;
    background-color: #fff;
    width: fit-content;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    img {
        width: 1.25rem;
        max-width: fit-content;
        height: 1.25rem;
    }
}