.wrapper {
    display: flex;
    overflow: auto;
}

.main {
    position: relative;
    width: 100%;
    overflow: auto;
    border-left: 1px solid #d5d8dd;

    @media (width < 768px) {
        padding-left: 0;
        border-left: none;
    }
}
.main-header {
    padding: 1rem 1rem 1rem 1rem;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #d5d8dd;
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 10;

    &__task {
        display: flex;
        column-gap: 1rem;
        align-items: center;
    }

    &__subtusk {
        color: #2E3238; 
        font-size: 1.25rem; 
        font-family: Montserrat; 
        font-weight: 400; 
    }

    &__create {
       
        @media (width < 768px) {
            display: none;
        }
    }

    &__close {
        display: none;
        @media (width < 768px) {
            display: block;
        }

    }

    &__btns {
        display: flex;
        column-gap: 0.25rem;
        @media (width < 768px) {
            display: none;
        }
    }

    &__dots {
        display: none;
        @media (width < 768px) {
            display: block;
        }
    }
}

.main-body {
    padding: 0 1rem 1rem;
    &__title {
        color: #2E3238; 
        font-size: 24px; 
        font-family: Montserrat; 
        font-weight: 600; 
        line-height: 32px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 24px;

        @media (width < 768px) {
            font-size: 20px;
        }
    }
}







