.main-form {
    &__wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }




    &__column {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
    }

    &__row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
    
        @media ( width <= 991px) {
            grid-template-columns: 1fr;
        }
    }


}

